
    <nav>
      <div class="nav__logo"> MONTH 1</div>
      <ul class="nav__links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">About Us</a></li>
      
        <li class="link"><a class="nav__btn" (click)="navigatoregister()">Register</a></li>
        <li class="link"><a class="nav__btn" (click)="navigatologin()">Login</a></li> 
      </ul>
    </nav>
    <section class="container">
      <div class="content__container">
        <h1>
          Project  Management<br />
          <span class="heading__1"> Month 1 Project Management</span><br />
          <span class="heading__2"></span>
        </h1>
        <p>
          Welcome to Month 1 Management System, where innovation meets efficiency in the realm of comprehensive business solutions. We understand the dynamic challenges that organizations face in today's fast-paced world, and we are dedicated to providing cutting-edge management solutions to streamline your operations.
        <form>
          <input type="text" placeholder="What do you want to know" />
          
        </form>
      </div>
      <div class="image__container">
        <img src="https://img.freepik.com/free-photo/side-view-man-doing-presentation-during-meeting_23-2148817044.jpg?w=900&t=st=1708108132~exp=1708108732~hmac=9cb5f37da0a93c9ac3068b494fb4f006325b32c16f9cea5ea25751eef4487ce7" alt="header" />
        <img src="https://img.freepik.com/free-photo/side-view-businesswoman-showing-analytical-charts-her-male-coworker_1098-20620.jpg?w=900&t=st=1708109448~exp=1708110048~hmac=8cdc2e6748ce39a8b7869729724e8a7f48223c5d5df045a4cd0da5d14c8094ca" alt="header" />
        
        <div class="image__content">
          <ul>
            <li>Let track our progress</li>
            <li>Meet our team</li>
          </ul>
        </div>
      </div>
 
 <!--      <div class="card">
        <img src="/ProjectManagementSystem/landing page/assets/header-2.jpg" alt="">
        <div class="content">
        <h5>Name: <span>Mary</span></h5>
        
        <h5>role: User</h5>
        </div>
        
      </div> -->
    </section>
  
